@font-face {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 100 1000;
    src: url(https://fonts.gstatic.com/s/dmsans/v15/rP2Hp2ywxg089UriCZOIHQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

html, body{
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    font-family: 'DM Sans', sans-serif;
}

p{
    font-size: 18px;
}

.content-container{
    padding: 1%;
    width: 80%;
    margin: 1rem auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    max-width: 118.4rem;
}

.btn {
    font-family: 'DM Sans', sans-serif;
    border: 1px solid black;
    text-decoration: none;
    border-radius: 7px;
    padding: 0.25rem 1rem;
    margin: 0 1rem;
    transition: border-color 0.2s, box-shadow 0.2s, transform 0.3s ease;
}

.btn:hover {
    transform: translateY(-3px);
}


.button{
    margin: 1.5% 0 1.5% 0;
    font-family: 'DM Sans', sans-serif;
    text-decoration: none;
    color: white;
    background-color: #007bff;
    border: 1px solid #007BFF;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    transition: border-color 0.2s, box-shadow 0.2s, transform 0.3s ease;
}

.button:hover{
    background-color: #0056b3;
}

.button-block{
    display: block;
    overflow: hidden;
}

.heading{
    font-weight: 600;
}


.header{
    position: absolute;
    z-index: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content{
    display: flex;
    gap: 5%;
}

.left-content{
    width: 70%;
}

.right-content{
    width: 30%;
    text-align: center;
}

.sidebar{
    width: 80%;
    border: 0.5px solid rgb(197, 197, 197);
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease;
    padding: 1.5rem;
}

.sidebar ul {
    padding: 0;
}

.sidebar ul li {
    margin: 10px 0;
    display: block;
    text-align: left;
    padding: 10px;
    border-end-end-radius: 5px;
    border-bottom: 1px solid #ccc;
}
.sidebar ul li::before {
    content: "☑";
    color: #336791;
}
/* Sidebar links */
.sidebar ul li a {
    text-align: left;
    text-decoration: none;
    padding: 10px 15px;
    color: #336791;

}

/* Hover effect */
.sidebar ul li a:hover {
    text-decoration: underline;
}


.image-container{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}


table {
    width: 100%;
    border-collapse: collapse; /* Ensures borders are collapsed between cells */
}

th, td {
    /* border: 1px solid rgb(158, 158, 158); */
    padding: 8px;
    text-align: left;
}

th {
    border-top: 1px solid rgb(191, 191, 191);
    border-bottom: 1px solid rgb(191, 191, 191);
    background-color: #2e507768;
}

td {
    border-top: 1px solid rgb(191, 191, 191);
    border-bottom: 1px solid rgb(191, 191, 191);
    max-width: 200px;
}

tr:hover{
    background-color: #2e507724;
}

.map-iframe {
    width: 100%; /* Let it fill the container */
    max-width: 800px; /* Bigger maximum width */
    height: 20rem; /* Increased height for better visibility */
    border: 1px solid rgb(0, 0, 0); /* Remove default border */
    border-radius: 12px; /* Match container's border-radius */
}

.map a {
    font-size: 18px; /* Larger font size for visibility */
    text-decoration: none; /* Remove underline */
    color: #007BFF; /* Blue color for link */
    transition: color 0.3s ease; /* Smooth transition for hover */
}

.map a:hover {
    color: #0056b3; /* Darker shade on hover */
}

/* global btns */
.main-btns {
    background: #336791;
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.main-btns:hover {
    background: white;
    color: black;
}

/* Hide the up and down arrows in WebKit browsers (Chrome, Safari, Opera, Edge) */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Dashboard styles */
.dash-info-bar .dash-title{
    font-size: 30px;
    font-weight: bold;
}
.dash-info-bar .page-title{
    font-size: 22px;
    padding-left: 10px;
}
.dash-info-bar .desc{
    margin-top: 15px;
    padding-left: 10px;
    border-left: 5px solid gray;
    border-bottom: 1px solid maroon;
    font-style: italic;
    font-size: 18px;
}
.admin-content{
    padding-top: 20px;
}


.info-table {
    display: flex;
    flex-direction: column;
    max-width: 750px;
    border: 1px solid #a3b3cb;
    border-radius: 5px;
    overflow: hidden;
    white-space: nowrap;
}

.info-row {
    display: flex;
    border-bottom: 1px solid #a3b3cb;
}

.info-row:last-child {
    border-bottom: none;
}

.info-label {
    flex: 1;
    font-weight: bold;
    background-color: #2e507724;
    padding: 10px;
}

.info-value {
    flex: 2;
    padding: 10px;
}

/* alert containers */
.alert {
    padding: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: 1px solid transparent;
    border-radius: 4px;
    font-size: 16px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.alert-warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.alert-info {
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}


.news-container {
    font-size: 16px;
    background: #ffffff;
    color: #020e16;
    padding: 10px 32px;
    display: flex;
    overflow: hidden;
    border: 1px solid #b6bbbf;
    border-radius: 5px;
}

.news-container::after {
    content: "";
    bottom: 0;
    left: 0;
    right: 0;
    height: 10px;
}

.news-container .news-heading {
    font-weight: bold;
    padding-right: 20px;
    margin-right: 20px;
    border-right: 1px solid #0e2e63;
}

.news-container .news {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.news-container .news-single {
    text-decoration: none;
    font-weight: normal;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-8px);
    transition: all 400ms ease;
    pointer-events: none;
}

.news-container .news-single.active {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

@media (max-width: 700px) {
    .news-container {
        padding: 5px;
        height: 20px;
    }
    .news-container .news-heading {
        display: none;
    }
    .news-container .news-single {
        font-size: 13px;
    }
}

.event-container {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.event-box {
    flex: 1;
    min-width: 200px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.event-box h3{
    margin: 0px;
}


@media (max-width: 420px) {
    .countDown {
        grid-template-columns: repeat(2, 1fr) !important;
    }
}

@media (max-width: 1600px) {

    .map iframe {
        width: 100%; /* Make the map take full width on small screens */
        height: 200px; /* Reduce the map height for smaller screens */
    }

    .image-container img {
        width: 100%; /* Ensure the image fits the container */
        max-width: 180px; /* Limit image size */
    }

    .venue a {
        font-size: 14px; /* Make the "Know more about venue" link smaller */
    }

}

@media (max-width: 1300px) {
    .map {
        width: 80%; /* Make the container width more responsive on tablets */
        padding: 15px; /* Adjust padding for smaller screens */
    }

    .map-iframe {
        max-width: 100%; /* Allow the iframe to take full width */
        height: 350px; /* Adjust iframe height on smaller screens */
    }

    .map a {
        font-size: 16px; /* Slightly smaller font size */
    }

    h1{
        font-size: 30px;
    }

    p{
        font-size: 16px;
    }
    ol li{
        font-size: 16px;
    }
}

@media (max-width: 1000px) {
    p {
        font-size: 15px;
    }

    .sidebar{
        width: 80%;
    }
}

@media (max-width: 900px) {
    .sidebar{
        width: 70%;
    }
}

@media (max-width: 800px) {
    h1{
        font-size: 25px;
    }

    p{
        font-size: 12px;
    }

    ol li{
        font-size: 12px;
    }
}

@media (max-width: 700px) {

    .map {
        width: 90%;
    }

    h1{
        font-size: 22px;
    }

    .content{
        display: block;
    }

    .left-content{
        width: 100%;
    }
    .right-content{
        width: 100%;
    }

    .sidebar{
        width: 90%
    }
}

@media (max-width: 600px) {
    h1{
        font-size: 18px;
    }

    .sidebar{
        width: 85%
    }
}

@media (max-width: 500px) {
    h1{
        font-size: 15px;
    }

    .sidebar{
        width: 85%
    }
}

@media (max-width: 400px) {
    .sidebar{
        width: 80%
    }
}