/* Reset some default styles */

/* Navbar Styling */
.nav{
  width: 100%;
  gap: 1em;
  padding: 1%;
  flex-direction: column;
  justify-content: center;
  display: flex;
  align-items: center;
}

.logo {
  max-height: 50px;
  object-fit: cover;
  background-position: center;
}

.updates-container{
  width: 30rem;
}

.news-container {
  font-size: 16px;
  color: white;
  padding: 10px 32px;
  display: flex;
  overflow: hidden;
}

.news-container::after {
  content: "";
  bottom: 0;
  left: 0;
  right: 0;
  height: 10px;
}

.news-container .news-heading {
  font-weight: bold;
  padding-right: 20px;
  margin-right: 20px;
  border-right: 1px solid #0e2e63;
}

.news-container .news {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.news-container .news-single {
  text-decoration: none;
  font-weight: normal;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-8px);
  transition: all 400ms ease;
  pointer-events: none;
}

.news-container .news-single.active {
  color: white;
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.navbar-area {
  width: 80%;
  border-radius: 25px;
  background: #00000079;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1), 0px -4px 12px rgba(0, 0, 0, 0.1);
}

.navbar-container {
  margin: 0 auto; /* Center it horizontally */
  padding: 0 20px; /* Add some padding on the sides */
  display: block;
  justify-content: space-between;
  align-items: center;
}

.headers {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-options {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  width: 100%;
}

.nav-options .nav-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  width: 100%;
  padding-inline-start: 0;
  padding: 1% 2% 1% 2%;
  margin: 0;
}

.nav-options .nav-list .nav-item:not(:last-of-type) {
  margin-right: 1.5rem;
}

.nav-options .nav-list .nav-item {
  position: relative;
}


.nav-options a {
  font-family: 'DM Sans', sans-serif;
  color: rgb(187, 187, 187);
  text-decoration: none;
  text-transform: capitalize;
  font-weight: 600;
  position: relative;
  transition: color 0.3s ease, transform 0.3s ease;
}

.nav-options a:hover {
  color: #ffffff;  /* Warm accent color for hover effect */
  transform: scale(1.1);  /* Slight zoom effect on hover */
}

.nav-options a:hover::after {
  width: 100%;
  left: 0;
}

/* Additional Styling for Logo and Nav */
.navbar-area a {
  display: block;
  /* padding: 5px 0; */
}

.nav-options .dropdown {
  position: relative;
}

/* .nav-options .dropdown .dropbtn { */
  /* color: rgb(0, 0, 0); */
  /* padding: 14px 16px; */
  /* text-align: center;
  text-decoration: none;
  font-size: 20px;
  border: none;
  background-color: transparent;
  cursor: pointer;
} */

.nav-options .dropdown-content {
  display: none;
  position: absolute;
  background-color: #333;
  min-width: 160px;
  z-index: 1;
  top: 100%;
  left: 0;
}

/* Links inside the dropdown */
.nav-options .dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of links on hover */
.nav-options .dropdown-content a:hover {
  background-color: #575757;
}

/* Show the dropdown menu when hovering over the dropdown button */
.nav-options .dropdown:hover .dropdown-content {
  display: block;
}
.hamburger-menu{
  display: none;
}

/* Mobile Responsiveness */

.hamburger-options {
  display: none; /* Menu is hidden by default */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh; /* Take full height of the screen */
  background-color: black;
  color: white;
  text-align: center;
  z-index: 9999;
}

/* Display the hamburger options when 'active' class is added */
.hamburger-options.active {
  display: block; /* Show the menu */
}

.hamburger-options .close-btn {
  font-size: 1.5rem;
  background: unset;
  color: white;
  border: none;
  float: right;
}

/* Style the menu items */
.hamburger-options ul {
  list-style-type: none;
  padding: 0;
}

.hamburger-options li {
  padding: 20px 0;
}

.hamburger-options a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.hamburger-options a:hover {
  background-color: #333; /* Hover effect */
}

@media (max-width: 1600px) {
  .updates-container{
    width: 32rem;
  }
}

@media (max-width: 1300px){
  .nav-options a {
    font-size: 13px;
  }

  .nav-options .dropdown .dropbtn{
    font-size: 15px;
  }
}

@media (max-width: 1000px){
  .nav-options a {
    font-size: 10px;
  }

  .nav-options .dropdown .dropbtn{
    font-size: 10px;
  }
}

@media (max-width: 800px){
  .nav-options a {
    font-size: 8px;
  }

  .nav-options .dropdown .dropbtn{
    font-size: 8px;
  }
}

/* Hamburger icon styles */

@media (max-width: 700px){
  .nav{
    padding: 0;
  }

  .headers {
    display: none;
  }

  .navbar-area {
    width: 100%;
    border-radius: 0;

  }

  .hamburger-menu {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
    cursor: pointer;
    padding: 10px;
  }
  .nav-options{
    display: none;
  }

  .hamburger-menu{
    font-size: 30px;
  }

  .hamburger-options.active ul{
    display: block;
  }
}