<ul class="nav-menu" id="nav-menu">
    <li class="nav-lis">
        <a href="/" class="nav-item">Home</a>
    </li>
    <li class="nav-lis">
        <a href="/about" class="nav-item">About</a>
    </li>
    <li class="nav-lis">
        <a href="/call_for_proposal" class="nav-item">Call for Proposal</a>
    </li>
    <li class="nav-lis">
        <a href="/schedule" class="nav-item">Schedule</a>
    </li>
    <li class="nav-lis">
        <a href="/speakers" class="nav-item">Speakers</a>
    </li>
    <li class="nav-lis">
        <a href="/sponsor" class="nav-item">Sponsor</a>
    </li>
</ul>