<footer class="footer">
  <link rel="stylesheet" href="/static/css/footer.css">
  <div class="footer-content">
    <div class="footer-logo">
      <div class="logo">
        <img class="logo-img" src="/static/images/np-pug-logo.png" alt="np-pug-logo">
        <div class="logo-text footer-logo-text">
          <span>pgconf.2025</span>
        </div>
      </div>
    </div>

    <div class="footer-text">
      <p>
        The conference is organized by Nepal PostgreSQL user group (NP-PUG).<br>
        info@pgconf.org.np
      </p>
    </div>
  </div>
  </footer>