<nav>
  <div class="navbar-area">
    <div class="navbar-container">
    <div class="headers">
      <img class="logo-img" src="/static/images/np-pug-logo.png" alt="Logo">
      <!-- <div class="logo-text">PGConference Nepal - 2025</div> -->
    </div>

    <div class="nav-options">
      <ul><a href="/home">Home</a></ul>
      <ul><a href="/about">About</a></ul>
      <ul><a href="/venue">Venue</a></ul>
      <ul><a href="/registration">Registration</a></ul>
      <ul><a href="call_for_proposal">Call for Proposal</a></ul>

      <ul class="dropdown">
        <a href="#" class="dropbtn" style="color: rgb(0, 0, 0);">More</a>
        <div class="dropdown-content">
          <a href="/schedule">Schedule</a>
          <a href="/speakers/all">Speakers</a>
          <a href="/sponsor">Sponsors</a>
        </div>
      </ul>
    </div>
  </div>
  </div>
</nav>