<style>
    label {
        display: block;
        font: 1rem 'Fira Sans', sans-serif;
    }

    input,
    label {
        margin: 0.4rem 0;
    }
</style>

<div class="grid-sub-item">
    <h2 id="start-date" style="font-size: 20px; letter-spacing: 0px; word-spacing: 0;">2023 May, 18(Thu) ~ 19(Fri)</h2>
    <h3 style="font-size: 21px;">@Dhulikhel, Nepal</h3>
</div>
<br />
<div class="grid-sub-item">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1286.4999980968216!2d85.538371116359!3d27.618860565103255!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39eb092082d99e3b%3A0xe509dafa47685dba!2z4KSV4KS-4KSg4KSu4KS-4KSh4KWM4KSCIOCkteCkv-CktuCljeCkteCkteCkv-CkpuCljeCkr-CkvuCksuCkrw!5e0!3m2!1sne!2snp!4v1673176323107!5m2!1sne!2snp" width="310" height="270" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
<br/>
<div class=" grid-sub-item">
        <a target="_blank"
            href="https://calendar.google.com/calendar/event?action=TEMPLATE&amp;tmeid=Mm90bWprNXVhY2V0bWo4djRwaTlmbzFybzQgcmFuemltdGhla2FyZTEyM0Bt&amp;tmsrc=ranzimthekare123%40gmail.com"><img
                border="0" src="https://www.google.com/calendar/images/ext/gc_button1_en-GB.gif">2nd PostgreSQL
            Conference Nepal, 2023</a>
        <a target="_blank"
            href="https://calendar.google.com/calendar/event?action=TEMPLATE&amp;tmeid=NW9uZHI4Nm9uM3U3N3JjZGx2aDBocGZra3YgcmFuemltdGhla2FyZTEyM0Bt&amp;tmsrc=ranzimthekare123%40gmail.com"><img
                border="0" src="https://www.google.com/calendar/images/ext/gc_button1_en-GB.gif"></a>
</div>
<br />