<style>
    label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
    margin: 0.4rem 0;
}
</style>
<div class="grid-item right-menu">

    <div class="grid-sub-item">
              <h2 id="start-date" style="font-size: 20px; letter-spacing: 0px; word-spacing: 0;">2023 May, 18(Thu) ~ 19(Fri)</h2>
              <h3 style="font-size: 21px;">@Dhulikhel, Nepal</h3>
    </div>
    <br/>
    <div class="grid-sub-item" style="padding: 5px;">
        <iframe src="https://www.google.com/maps/d/embed?mid=17lIDmt3pLmlfMKAM5qkKIUwJcG0&hl=en&ehbc=2E312F" frameBorder="0" " style=" background-color: #fff; ">dhulikel</iframe>
    </div>
    <br/>
    <div class="grid-sub-item" style="padding: 5px;">
        <a target="_blank" href="https://calendar.google.com/calendar/event?action=TEMPLATE&amp;tmeid=Mm90bWprNXVhY2V0bWo4djRwaTlmbzFybzQgcmFuemltdGhla2FyZTEyM0Bt&amp;tmsrc=ranzimthekare123%40gmail.com"><img border="0" src="https://www.google.com/calendar/images/ext/gc_button1_en-GB.gif">2nd PostgreSQL Conference Nepal, 2023</a>
        <a target="_blank" href="https://calendar.google.com/calendar/event?action=TEMPLATE&amp;tmeid=NW9uZHI4Nm9uM3U3N3JjZGx2aDBocGZra3YgcmFuemltdGhla2FyZTEyM0Bt&amp;tmsrc=ranzimthekare123%40gmail.com"><img border="0" src="https://www.google.com/calendar/images/ext/gc_button1_en-GB.gif"></a>
    </div>
    <br/>




</div>