<div class="section_header">Event Sponsors</div>
<div style="background-color: white; margin-top:-10px; padding:5px;">
    <center>
        <!-- <h3> Platinum Sponsor : Postgres Professional</h3> -->
        <div class="highlight_text">Platinum Sponsor</div>
        <a href="https://postgrespro.com/" target="_blank">
            <img src="/static/sponsors/PostgresPro.jpeg" width="300" />
        </a>
        <br>
        <br>
        <br>
        <div class="highlight_text">Gold Sponsors</div>
        
        <a href="https://worldlink.com.np/" target="_blank">
            <img src="/static/sponsors/wlink.png" width="300" alt="Worldlink Communication" />
        </a>

        <a href="https://clevero.co/" target="_blank">
            <img src="/static/sponsors/clevero.png" width="300" alt="CLEVERO" />
        </a>
<br> 

    </center>

    <div class="section_header_small">Media Partner</div>
    <center>
        <a href="https://livingwithict.com/" target="_blank">
            <img src="/static/sponsors/lwict.jpg" width="300" alt="Living with ICT" />
        </a>
    </center>

        
    <div class="section_header_small">Supporting Partner</div>
    <center>
        <a href="https://livingwithict.com/" target="_blank">
            <img src="/static/sponsors/ku-logo.png" width="150" alt="Kathmandu University" />
        </a>
    </center>
</div>