.content-container{
    width: 80%;
    margin: 80px auto;
    display: flex;
    flex-direction: column;
    font-family: 'DM Sans', sans-serif;
}

h1{
    margin-bottom: 2%;
}

p{
    margin-bottom: 2%;
    font-weight: lighter;
}