.footer-content{
    height: 350px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20%;
    padding: 2%;
    font-family: 'DM Sans', sans-serif;
    color: white;
    background: linear-gradient(114.9deg, rgb(34, 34, 34) 8.3%, rgb(0, 40, 60) 41.6%, rgb(0, 143, 213) 93.4%);
}

.first{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}