.banner-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 100% !important;
    height: 500px;
    background-image: url('/static/images/annapurna.jpg');
    background-size: cover; /* Resize image to cover the container */
    background-position: center; /* Center the image */
}

.banner-container .overlay{
    background: #00000070;
    position: absolute;
    width: 100%;
    height: 100%;
}

.content{
    display: flex;
    margin-top: 1rem;
}

.left-content{
    width: 70%;
}

.right-content{
    width: 30%;
    text-align: center;
}

#intro p {
    margin-bottom: 0.8rem;
}

.image-container{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/* p{
    font-size: 20px;
    margin-bottom: 2%;
    text-align: justify;
} */

.hero{
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'DM Sans', sans-serif;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    color: white; /* Text color white */
    padding: 20px;
    /* text-align: center; */
    border-radius: 8px; /* Optional: rounded corners */
    top: 10%;
    z-index: 1;
}

.img-container {
    display: flex;
    gap: 10px; /* Space between the images */
    justify-content: center; /* Center the images horizontally */
    align-items: center; /* Align items vertically */
  }

.image {
flex: 1 1 auto; /* Make the images flexible */
max-width: 100%; /* Prevent overflow */
height: 400px; /* Set a fixed height for uniformity */
object-fit: cover; /* Ensure the images fill the container proportionally */
}

.countdown-container {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
}

.countDown {
    font-size: 18px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-around;
    row-gap: 10px;
    column-gap: 20px;
    margin-bottom: 50px;
}

.countDown .countdown-cells {
    display: flex;
    margin: 0 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.countDown .countdown-numbers {
    font-size: 3rem;
    font-weight: 600;
}

.home-content.mt-1 {
    margin-top: 1.5rem;
}

.conference-image-container{
    display: flex;
    flex-direction: column;
}

img{
    margin-top: 10px;
    width: 100%;
    border-radius: 8px;
}


@media (max-width: 700px) {

    .countDown{
        font-size: 12px;
    }

    .content{
        display: block;
    }

    .left-content{
        width: 100%;
    }
    .right-content{
        width: 100%;
    }
}
